<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Avira.VpnService.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Avira.VpnService.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Avira.VpnService.Properties.Settings>
			<setting name="VpnBackendUrl" serializeAs="String">
				<value>https://api.phantom.avira-vpn.com/v1/</value>
			</setting>
			<setting name="UpdateServerUrl" serializeAs="String">
				<value>https://dispatch.avira-update.com</value>
			</setting>
			<setting name="UpdateCheckIntervalInSeconds" serializeAs="String">
				<value>86400</value>
			</setting>
			<setting name="InitialUpdateCheckInSeconds" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="OpenVpnVerbosity" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="LicensePollIntervalInSeconds" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="LicensePollMaxTimeInSeconds" serializeAs="String">
				<value>300</value>
			</setting>
			<setting name="InstallNewPackageIntervalInSeconds" serializeAs="String">
				<value>21600</value>
			</setting>
			<setting name="UpdateTimersIntervalInSeconds" serializeAs="String">
				<value>1800</value>
			</setting>
			<setting name="IsBeta" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OeApi" serializeAs="String">
				<value>https://api.my.avira.com/v2/</value>
			</setting>
			<setting name="InactivityThreshold" serializeAs="String">
				<value>14.00:00:00</value>
			</setting>
			<setting name="PopupTimeout" serializeAs="String">
				<value>00:00:30</value>
			</setting>
			<setting name="LicenseRefreshIntervalInSeconds" serializeAs="String">
				<value>86400</value>
			</setting>
			<setting name="UdpEchoServerUrl" serializeAs="String">
				<value>echo.phantom.avira-vpn.com</value>
			</setting>
			<setting name="DisablePipeAccessAuthorization" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EnableNetworkBlockerOnConnect" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="InstallationBundleId" serializeAs="String">
				<value>vpnb0</value>
			</setting>
			<setting name="UserManagementAsembly" serializeAs="String">
				<value>Avira.VPN.OeConnector.dll</value>
			</setting>
			<setting name="EducationMessageActive" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="UpdatePackageName" serializeAs="String">
				<value>AviraVPNInstaller</value>
			</setting>
			<setting name="Insider" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FrontingApi" serializeAs="String">
				<value>https://iron-dot-cobalt-antenna-219709.appspot.com/v1/</value>
			</setting>
			<setting name="VpnNodeApi" serializeAs="String">
				<value>http://185.123.227.250:61453</value>
			</setting>
			<setting name="MixpanelPingInterval" serializeAs="String">
				<value>86400000</value>
			</setting>
			<setting name="OeStatusUpdateInterval" serializeAs="String">
				<value>86400</value>
			</setting>
			<setting name="RemoteFeatureRequestInitialDelay" serializeAs="String">
				<value>20000</value>
			</setting>
			<setting name="RemoteFeatureRequestDelay" serializeAs="String">
				<value>86400000</value>
			</setting>
			<setting name="kill_switch" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="kill_switch_switched_on" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="udp_support" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="udp_support_switched_on" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="disabled_notifications" serializeAs="String">
				<value>{}</value>
			</setting>
		</Avira.VpnService.Properties.Settings>
	</applicationSettings>
	<runtime>
		<generatePublisherEvidence enabled="false" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
		<supportedRuntime version="v2.0.50727" sku="Client" />
	</startup>
	<userSettings>
		<Avira.VpnService.Properties.Settings>
			<setting name="LastUpdateCheck" serializeAs="String">
				<value />
			</setting>
			<setting name="CallUpgrade" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="RefreshToken" serializeAs="String">
				<value />
			</setting>
			<setting name="LicenseData" serializeAs="String">
				<value>{ "expiration_date": null, "grace_period": 60, "traffic_limit": 524288000, "type": "unregistered" }</value>
			</setting>
			<setting name="AccessToken" serializeAs="String">
				<value />
			</setting>
			<setting name="UsedTraffic" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="StartGuiAfterUpdate" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="LastConnect" serializeAs="String">
				<value />
			</setting>
			<setting name="MalwareProtection" serializeAs="String">
				<value>False</value>
			</setting>
		</Avira.VpnService.Properties.Settings>
	</userSettings>
</configuration>