<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <link rel="stylesheet" href="educationMessage.css">
</head>

<body>
        <img src="images/logo.png" style="width:45px;height:45px; padding:10px 10px 10px 10px;" />
        <div id="close" class="font_icon icon-close"></div>

        <div id="title" class="title">
            Are you frequently on the go and use public WiFis?
        </div>

        <img id="image" class="center-img" src="images/lock.png" />

        <div id="title2" class="title2">
            Phantom VPN minimizes the risks of unencrypted online activity
        </div>

        <div id="message" class="message">
            While free availability of WiFis is a wonderful thing, you absolutemy should be highly security conscious if oyu are going to use it for anything but the most trivial web surfing. These public hotspots are often open networks and are therefore completely unencrypted.
        </div>
        
        <div id="question" class="question">
            What can you do?
        </div>        

        <div class="default-action" id="action1">
            Learn how Phantom VPN protects you
        </div>

        <div class="hint" id="hint">
        </div>
</body>
</html>