<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <link rel="stylesheet" href="notifierAvira.css" />
</head>
<body class="noselect">
    <div class="noselect" style="display:table;width:100%">
        <img class="noselect" src="images/IPM-header.png" style="position:relative; margin-bottom: 18px" draggable="false"/>
        <div id="close" style="display:table-row;height:30px" class="font_icon icon-close noselect"></div>        
        <div class="icon noselect" style="display:inline-block;width:100%;height:90px;text-align:center">
            <img class="noselect" src="images/vpn-gray.svg" style="width:126px;height:89px" draggable="false"/>
        </div>
        <div class="icon noselect" style="display:inline-block;width:100%;margin-top:-90px;height:90px;text-align:center">
            <img class="noselect" src="images/info.png" style="position:relative;width:64px;height:65px" draggable="false"/>
        </div>
        <div class="noselect" style="display:table-row;height:70px">
            <div id="message" class="message center-cell noselect">
                You just connected to an unsecure network.
            </div>
        </div>
        <div class="noselect" style="display:table-row;height:30px">
            <div class="center-cell noselect">
                <img class="noselect" src="images/horzLine.png" style="width:80px; height:2px" draggable="false"/>
            </div>
        </div>
        <div style="display:table-row;height:90px">
            <div id="hint" class="message center-cell noselect">Switch on your Avira Phantom VPN to stay safe.</div>
        </div>
         <div style="display:table;border-collapse:separate;border-spacing:20px 0px;width:100%; margin-top:-1px">
            <div style="display:table-row;height:40px">
                <div id="action1" style="display: table-cell; width: 50%" class="noselect default-action">Always</div>
                <div id="action2" style="display: table-cell; width: 50%; background-color: whitesmoke" class="noselect non-default-action">Never</div>
            </div>
        </div>
        <div id="close2" style="text-decoration: underline; font-size:14px; cursor:pointer; margin-top:13px; font-family: KievitCompPro-Light;" class="message">Remind me later</div>
        <div style="clear:both"></div>
    </div>
</body>
</html>