<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <link rel="stylesheet" href="notifierAvira.css">
</head>
<body class="noselect">
    <div class="noselect" style="display: table; width: 100%">
        <img class="noselect" src="images/IPM-header.png" style="position: relative;" draggable="false" />
        <div id="close" style="display: table-row; height: 60px" class="font_icon icon-close noselect"></div>
        <div class="icon noselect" style="display: inline-block; width: 100%; height: 85px; text-align: center">
            <img class="noselect" src="images/VPN.png" style="width: 74px; height: 74px" draggable="false" />
        </div>
        <div class="noselect" style="display: table-row; height: 25px">
        </div>
        <div style="height:145px">
            <div class="noselect" style="display: table-row">
                <div id="title" class="caption bottom-cell noselect">
                    Congratulations!
                </div>
            </div>
            <div class="noselect" style="display: table-row">
                <div id="message" class="message top-cell noselect" style="vertical-align: top; padding-top: 0px; padding-bottom: 20px">
                    Phantom VPN was successfully updated.
                </div>
            </div>
        </div>
        <div style="display: table-row; height: 36px">
            <div id="hint" class="hint bottom-cell noselect" style="">Check out the new functionality</div>
        </div>
        <div style="display: table; border-collapse: separate; border-spacing: 20px 0px; width: 100%">
            <div style="display: table-row; height: 40px">
                <div class="noselect default-action" style="" action="OpenGui" id="action1">Open</div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</body>
</html>