<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <link rel="stylesheet" href="notifierAvira.css" />
</head>
<body class="noselect">
    <div class="noselect" style="display:table;width:100%">
        <img class="noselect" src="images/IPM-header.png" style="position:relative; margin-bottom: 18px"draggable="false"/>
        <div id="close" style="display:table-row;height:30px" class="font_icon icon-close noselect"></div>
        <div class="icon noselect" style="display:inline-block;width:100%;height:90px;text-align:center">
            <img class="noselect" src="images/vpn-gray.svg" style="width:126px;height:89px" draggable="false"/>
        </div>
        <div class="icon noselect" style="display:inline-block;width:100%;margin-top:-90px;height:90px;text-align:center">
            <img class="noselect" src="images/info.png" style="position:relative;width:64px;height:65px" draggable="false"/>
        </div>
        <div class="noselect" style="display:table-row;height:190px">
            <div id="message" class="message center-cell noselect">
                You just connected to an unsecure network.
            </div>
        </div>
        <div style="display:table;border-collapse:separate;border-spacing:20px 0px;width:100%">
            <div style="display:table-row;height:40px">
                <div class="noselect default-action" style="" id="action1">Secure my connection</div>
            </div>
        </div>
        <div style="display:table-row;height:30px">
            <div class="second-action noselect underlined" style="" id="action2">No I trust this network</div>
        </div>
        <div style="clear:both"></div>
    </div>
</body>
</html>