
Avira.Acp/bin/

Avira.Acp/obj/

Avira.Acp.Common/bin/

Avira.Acp.Common/obj/

Avira.Acp.Resources/bin/

Avira.Acp.Resources/obj/

Avira.Common.Acp.AppClient/bin/

Avira.Common.Acp.AppClient/obj/

Avira.Common.Core/bin/

Avira.Common.Core/obj/

Avira.Messaging/bin/

Avira.Messaging/obj/

Avira.VPN.Acp/bin/

Avira.VPN.Acp/obj/

Avira.VPN.Core/bin/

Avira.VPN.Core/obj/

Avira.VPN.Notifier/bin/

Avira.VPN.Notifier/obj/

Avira.VPN.NotifierClient/bin/

Avira.VPN.NotifierClient/obj/

Avira.VPN.OeConnector/bin/

Avira.VPN.OeConnector/obj/

Avira.VpnService/bin/

Avira.VpnService/obj/

Avira.WebAppHost/bin/

Avira.WebAppHost/obj/

Messaging/bin/

Messaging/obj/

packages/

VPN.Core/bin/

VPN.Core/obj/

VPN.Shared/bin/

VPN.Shared/obj/

Vpn.Shared.Core/bin/

Vpn.Shared.Core/obj/

.vs/
