<div class="settingsView-layout">
    <div class="settings clearfix">
        <div class="settings__common settings__header clearfix">
            <div translate>Help us improve</div>
        </div>
    </div>
    <div class="diagnostics">
        <div class="diagnostics__text" translate>Help Avira improve its products and services by automatically sending daily anonymous diagnostic and usage data.</div>
    </div>
    <div class="diagnostics__footer">
        <div class="diagnostics__footer__sendContainer">
            <div class="privacyFooter__button" ng-click="send(true)" translate>Send</div>
        </div>
        <div class="diagnostics__footer__dontSend" ng-click="send(false)" translate>Don't send</div>
    </div>
</div>