<div class="diagnostic_data__progress">
    <div style="display: table;text-align:center;width:100%;line-height:25px;font-size:18px;">
        <div style="display:table-row;width:100%;padding-top: 5px;">
            <div style="display:table-cell;width:10%"></div>
            <div style="display: table-cell; width:80%; max-width: 535px;padding-top: 32px;">
                <img class="diagnostic_data__progress__img_stars" src="images/png/three-blue-stars.png" width="141" height="75">
                <div class="loader"></div>
            </div>
            <div style="display:table-cell;width:10%"></div>
        </div>
        <div style="display:table-row;">
            <div style="display:table-cell;width:10%"></div>
            <div style="display:table-cell; padding-top: 12px; padding-left: 10px;">
                <span class="diagnostic_data__progress__status emphasized" translate>Sending data...</span>
            </div>
            <div style="display:table-cell;width:10%"> </div>
        </div>
    </div>