<div class="diagnostic_data__send">
    <div style="display: table;text-align:left;width:100%;line-height:25px;font-size:18px;">
        <div style="display:table-row;width:100%;padding-top: 5px">
            <div style="display:table-cell;width:10%"></div>
            <div class="diagnostic_data__send__description emphasized" style="display: table-cell; width:80%; max-width: 535px;padding-top: 32px;">
                <span translate>The following technical data will be collected and sent to Avira for troubleshooting:</span>
            </div>
            <div style="display:table-cell;width:10%"></div>
        </div>
        <div style="display:table-row;">
            <div style="display:table-cell;width:10%"></div>
            <div style="display:table-cell; padding-top: 12px; padding-left: 10px;">
                    <li class="diagnostic_data__send__data emphasized" translate>OS information</li>
                    <li class="diagnostic_data__send__data emphasized" translate>Application logs</li>
                    <li class="diagnostic_data__send__data emphasized" translate>VPN connection details</li>
            </div>
            <div style="display:table-cell;width:10%"> </div>
        </div>
        <div style="display:table-row;width:100%;padding-top: 5px">
            <div style="display:table-cell;width:10%"></div>
            <div class="diagnostic_data__send__details emphasized" style="display: table-cell; width:80%; max-width: 535px;padding-top: 22px; height:122px;" translate>
                <span translate>
                    We do not gather any personal data, only the technical details. All information you provide will be deleted after the troubleshooting process.
                </span>
            </div>
            <div style="display:table-cell;width:10%"></div>
        </div>
        <div style="display:table-row">
            <div style="display:table-cell;width:10%"> </div>
            <div style="display:table-cell;padding-top:22px">
                <div class="round-button">
                    <div class="round-button-circle">
                        <a href="#" ng-click="collect()" draggable="false" translate>Collect diagnostic data</a>
                    </div>
                </div>
            </div>
            <div style="display:table-cell;width:10%"> </div>
        </div>
    </div>