<div class="settings clearfix">
    <div id="settings-left" class="settings__left">
        <div class="settings__common clearfix" tabindex="1" no-mouse-outline ng-keydown="onKeyDown($event)">
            <div class="settings__setting-icon" ng-click="backButtonClicked()">
                <i class="ionicons ion-ios-arrow-back"></i>
            </div>
            <div id="settings-back" class="settings__setting-back" ng-click="backButtonClicked()">
                <div class="settings__hideBackText" translate>Back</div>
            </div>
            <div class="vertical-line" />
        </div>
    </div>
    <div class="settings__common settings__header clearfix">
        <div>{{title}}</div>
    </div>
    <div class="settings__header__fill">
        <div id="settings-left" class="settings__left">
            <div class="settings__common clearfix">
                <div class="settings__setting-icon">
                    <i class="ionicons ion-ios-arrow-back"></i>
                </div>
                <div id="settings-back" class="settings__setting-back">
                    <div class="settings__hideBackText" translate>Back</div>
                </div>
                <div class="vertical-line" />
            </div>
        </div>
    </div>
</div>